.vertical-tab-css {
    align-items: start !important;
    font-family: 'Roboto' !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    line-height: 24px !important;
    letter-spacing: 0.4000000059604645px !important;
}

.w-75{
    width: 75%;
}

.w-70{
    width: 70%;
}

.w-auto{
    width: auto;
}

.p-0{
    padding: 0px !important;
}

.css-19kzrtu {
    padding: 0px !important;
}